---
import ArticleCard from "../ArticleCard.astro";

const { recentPosts, randomPost } = Astro.props;
const firstPost = recentPosts[0];
const otherPosts = recentPosts.slice(1);
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto bmn-container">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Últimos artículos del blog
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Mejora en tu carrera profesional como developer y sube de nivel
      </p>
    </div>

    <div
      class="mt-16 pt-16 border-t border-gray-200 grid grid-cols-1 md:grid-cols-2 gap-16"
      itemscope
      itemtype="https://schema.org/Blog"
    >
      <meta itemprop="name" content="Baumannzone.dev Blog" />
      <meta
        itemprop="description"
        content="Blog sobre desarrollo web, JavaScript, CSS y más"
      />
      <meta itemprop="author" content="Jorge Baumann" />
      <meta itemprop="publisher" content="Jorge Baumann" />
      <meta itemprop="inLanguage" content="es-ES" />

      <ArticleCard post={firstPost} isNew={true} />
      <ArticleCard post={otherPosts[0]} />
      <ArticleCard post={otherPosts[1]} />
      <ArticleCard post={randomPost} isRandom={true} />
    </div>
  </div>
</div>
