---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<DefaultLayout>
  <section class='mx-auto max-w-7xl px-6 lg:px-8'>
    <ul
      class='mt-6 mb-12 pt-10 grid gap-16 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12'
    >
      {
        posts.map((post) => (
          <li>
            <article class='min-h-full'>
              <div class='group relative max-w-xl'>
                <div class='flex items-center gap-x-4 text-xs'>
                  <time datetime='2020-03-16' class='text-gray-500'>
                    <FormattedDate date={post.data.pubDate} />
                  </time>
                  {post.data.tags &&
                    post.data.tags.map((tag) => (
                      <span class='relative rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100'>
                        {tag}
                      </span>
                    ))}
                </div>
                <h2 class='mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600'>
                  <a href={`/blog/${post.slug}/`}>
                    <span class='absolute inset-0' />
                    {post.data.title}
                  </a>
                </h2>
                <p class='mt-4 text-sm leading-6 text-gray-600'>
                  {post.data.description}
                </p>
              </div>

              <div class='mt-4 flex'>
                {/* <a
                  href='#'
                  class='relative flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900'
                >
                  <img
                    src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                    alt=''
                    class='h-6 w-6 flex-none rounded-full bg-gray-50'
                  />
                  {post.data.author}
                </a> */}
                <a
                  href='`{/blog/${post.slug}/`}'
                  class='text-sm font-semibold leading-6 text-violet-700 hover:text-violet-600'
                >
                  Ver más &rarr;
                </a>
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
