---
import Layout from "../../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const talks = await getCollection("talks");
  return talks.map((talk) => ({
    params: { slug: talk.slug },
    props: { talk },
  }));
}

const { talk } = Astro.props;
const { Content } = await talk.render();
---

<Layout title={`${talk.data.title} | baumannzone.dev`}>
  <main class="container mx-auto px-4 py-8">
    <article class="prose prose-lg mx-auto prose-img:shadow-lg">
      <header class="mb-8">
        <time
          datetime={talk.data.date.toISOString()}
          class="text-gray-500 text-xs"
        >
          {
            new Date(talk.data.date).toLocaleDateString("es-ES", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <h1 class="text-4xl font-bold mb-4">{talk.data.title}</h1>
        <div class="flex justify-between gap-4 text-gray-600">
          <span>{talk.data.event}</span>
        </div>
      </header>

      <Content />

      {
        talk.data.links && talk.data.links.length > 0 && (
          <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Links</h2>
            <ul class="space-y-2">
              {talk.data.links.map((link) => (
                <li>
                  <a
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-violet-500 hover:text-violet-600"
                  >
                    {link.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </article>
  </main>
</Layout>
