---
import { getCollection } from 'astro:content';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = new Set(posts.flatMap((post) => post.data.tags || []));

  return Array.from(tags).map((tag) => ({
    params: { tag: tag.replace(/\s+/g, '-') },
  }));
}

const { tag } = Astro.params;
const posts = (await getCollection('blog')).filter(
  (post) => post.data.tags && post.data.tags.includes(tag)
);
---

<DefaultLayout>
  <section class='mx-auto bmn-container'>
    <h1 class='text-2xl font-bold mb-6'>Etiquetas: {tag}</h1>
    <ul
      class='mt-6 mb-12 pt-10 grid gap-16 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12'
    >
      {
        posts.map((post) => (
          <li>
            <article class='min-h-full'>
              <div class='group relative max-w-xl'>
                <div class='flex items-center gap-x-4'>
                  <FormattedDate
                    date={post.data.pubDate}
                    className='text-gray-500 text-xs'
                  />
                </div>
                <h2 class='mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600'>
                  <a href={`/blog/${post.slug}/`}>
                    <span class='absolute inset-0' />
                    {post.data.title}
                  </a>
                </h2>
                <p class='mt-4 text-sm leading-6 text-gray-600'>
                  {post.data.description}
                </p>
              </div>

              <div class='mt-4 flex'>
                <a
                  href={`/blog/${post.slug}/`}
                  class='text-sm font-semibold leading-6 text-violet-700 hover:text-violet-600'
                >
                  Ver más &rarr;
                </a>
              </div>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
