---
import { Image } from 'astro:assets';
import DefaultLayout from '../layouts/DefaultLayout.astro';

import image1 from '../assets/patrocinio/1.avif';
import image2 from '../assets/patrocinio/2.avif';
import image3 from '../assets/patrocinio/3.avif';
import image6 from '../assets/patrocinio/6.avif';
import image5 from '../assets/patrocinio/5.avif';
---

<DefaultLayout
  title='Patrocina mi contenido | Baumannzone.dev'
  description='Apoya mi trabajo y conecta con una audiencia interesada en desarrollo web.'
>
  <div class='bg-white'>
    <main>
      <div class='relative isolate'>
        <svg
          class='absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]'
          aria-hidden='true'
        >
          <defs>
            <pattern
              id='1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84'
              width='200'
              height='200'
              x='50%'
              y='-1'
              patternUnits='userSpaceOnUse'
            >
              <path d='M.5 200V.5H200' fill='none'></path>
            </pattern>
          </defs>
          <svg x='50%' y='-1' class='overflow-visible fill-gray-50'>
            <path
              d='M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z'
              stroke-width='0'></path>
          </svg>
          <rect
            width='100%'
            height='100%'
            stroke-width='0'
            fill='url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)'></rect>
        </svg>
        <div
          class='absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48'
          aria-hidden='true'
        >
          <div
            class='aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30'
            style='clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)'
          >
          </div>
        </div>
        <div class='overflow-hidden'>
          <div
            class='mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32'
          >
            <div
              class='mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center'
            >
              <div class='relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl'>
                <h1
                  class='text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl'
                >
                  ¿Quieres patrocinar mi contenido?
                </h1>
                <p
                  class='mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none'
                >
                  Gana visibilidad y apoya mi trabajo. Si tienes un producto o
                  servicio que pueda interesar a mi audiencia, estaré encantado
                  de hablar contigo.
                </p>
                <p
                  class='mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none'
                >
                  Contacta conmigo a través de mis redes sociales o por correo
                  electrónico en
                  <span class='text-violet-600'>
                    <span class='hidden' aria-hidden='true'>
                      PLEASE GO AWAY!
                    </span>
                    jorge.baumann.aguilar@<!-- sdfjsdhfkjypcs -->gmail.com
                  </span>
                </p>

                <div class='mt-10 flex items-center gap-x-6'>
                  <a
                    href='mailto:jorge.baumann.aguilar@gmail.com'
                    class='rounded-md bg-violet-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600'
                  >
                    Contactar
                  </a>
                  <!-- <a
                    href='#'
                    class='text-sm font-semibold leading-6 text-gray-900'
                    >Live demo <span aria-hidden='true'>→</span></a
                  > -->
                </div>
              </div>
              <div
                class='mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0'
              >
                <div
                  class='ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80'
                >
                  <div class='relative'>
                    <Image
                      src={image1}
                      alt='@baumannzone in the OSWeekends meetup'
                      class='aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg grayscale hover:hue-rotate-90 hover:grayscale-0 transition-grayscale duration-300 ease-in-out'
                    />
                    <div
                      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10'
                    >
                    </div>
                  </div>
                </div>
                <div
                  class='mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36'
                >
                  <div class='relative'>
                    <Image
                      src={image2}
                      alt=''
                      class='aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg grayscale hover:hue-rotate-90 hover:grayscale-0 transition-grayscale duration-300 ease-in-out'
                    />
                    <div
                      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10'
                    >
                    </div>
                  </div>
                  <div class='relative'>
                    <Image
                      src={image3}
                      alt=''
                      class='aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg grayscale hover:hue-rotate-90 hover:grayscale-0 transition-grayscale duration-300 ease-in-out'
                    />
                    <div
                      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10'
                    >
                    </div>
                  </div>
                </div>
                <div class='w-44 flex-none space-y-8 pt-32 sm:pt-0'>
                  <div class='relative'>
                    <Image
                      src={image6}
                      alt=''
                      class='aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg grayscale hover:hue-rotate-90 hover:grayscale-0 transition-grayscale duration-300 ease-in-out'
                    />
                    <div
                      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10'
                    >
                    </div>
                  </div>
                  <div class='relative'>
                    <Image
                      src={image5}
                      alt=''
                      class='aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg grayscale hover:hue-rotate-90 hover:grayscale-0 transition-grayscale duration-300 ease-in-out'
                    />
                    <div
                      class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10'
                    >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='bg-gray-400/25 py-20'>
          <div class='bmn-container mx-auto'>
            <h3 class='text-base font-semibold leading-6 text-gray-900'>
              Estadísticas de mi contenido
            </h3>
            <dl class='mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3'>
              <div
                class='overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6'
              >
                <dt class='truncate text-sm font-medium text-gray-500'>
                  Seguidores Twitter
                </dt>
                <dd
                  class='mt-1 text-3xl font-semibold tracking-tight text-gray-900'
                >
                  +25.000
                </dd>
              </div>
              <div
                class='overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6'
              >
                <dt class='truncate text-sm font-medium text-gray-500'>
                  Visitas web mensuales
                </dt>
                <dd
                  class='mt-1 text-3xl font-semibold tracking-tight text-gray-900'
                >
                  +2.000
                </dd>
              </div>
              <div
                class='overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6'
              >
                <dt class='truncate text-sm font-medium text-gray-500'>
                  Seguidores LinkedIn
                </dt>
                <dd
                  class='mt-1 text-3xl font-semibold tracking-tight text-gray-900'
                >
                  +20.000
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class='bg-white'>
          <div class='mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40'>
            <div class='lg:grid lg:grid-cols-12 lg:gap-8'>
              <div class='lg:col-span-5'>
                <h2
                  class='text-2xl font-bold leading-10 tracking-tight text-gray-900'
                >
                  ¿Por qué deberías patrocinar mi contenido?
                </h2>
                <p class='mt-4 text-base leading-7 text-gray-600'>
                  Estarás apoyando a un software engineer apasionado y también
                  tendrás acceso a una serie de beneficios que no sabías que
                  necesitabas.
                </p>
              </div>
              <div class='mt-10 lg:col-span-7 lg:mt-0'>
                <dl class='space-y-10'>
                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      💪 Flexiones en directo
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      ¿Quién necesita tutoriales de JavaScript cuando puedes
                      verme hacer flexiones en vivo? Exacto, ¡nadie! Y sí, las
                      hago en mi mejor traje para mayor impacto.
                    </dd>
                  </div>

                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      🐴 Entrada a caballo en tu evento
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      ¿Tienes una conferencia aburrida? No te preocupes, yo
                      llego a caballo. Literalmente.
                    </dd>
                  </div>

                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      👓 Visibilidad extrema
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      Olvida los anuncios pagados. Como patrocinador, te daré
                      visibilidad en mis plataformas. Desde menciones en mis
                      live coding sessions hasta shout-outs en mis tweets más
                      sarcásticos.
                    </dd>
                  </div>

                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      🥳 Meme expert
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      ¿Sabías que, además de escribir código, tengo un dominio
                      excelente en materia de memes? Patrocíname y recibirás
                      menciones especiales en mis memes más virales.
                    </dd>
                  </div>

                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      🎨 CSS Art
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      Dibujo con CSS y HTML, ¿quieres verlo en directo?
                      Patrocíname y recibirás menciones especiales en mis
                      dibujos más creativos.
                    </dd>
                  </div>

                  <div>
                    <dt class='text-base font-semibold leading-7 text-gray-900'>
                      🙌 ¿Tienes otra idea?
                    </dt>
                    <dd class='mt-2 text-base leading-7 text-gray-600'>
                      Si tienes una idea para una colaboración, no dudes en
                      decírmelo. Estoy abierto a propuestas y me encantaría
                      escuchar lo que tienes en mente.
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</DefaultLayout>
