---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import myUses from "../components/UsesPage/uses.js";
import desktopImage from "../assets/desktop.avif";
import { Image } from "astro:assets";
---

<DefaultLayout
  title="Baumannzone.dev - Mi setup de trabajo"
  description="Conoce todas las herramientas y gadgets que utilizo para trabajar en mi d칤a a d칤a como desarrollador web."
>
  <div
    class="relative isolate overflow-hidden bg-white px-6 pb-10 pt-24 sm:pt-32 lg:overflow-visible lg:px-0"
  >
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
    >
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-violet-600">
              /uses
            </p>
            <h1
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
              Mis setup de trabajo como developer
            </h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">
              Bienvenido a mi madriguera digital. Este es el cuartel general
              desde donde lanzo commits, compilo bugs y trabajo en proyectos que
              probablemente nunca ver치n la luz.
            </p>
          </div>
        </div>
      </div>
      <div
        class="sm:-ml-12 -mt-12 sm:p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
      >
        <Image
          class="w-[48rem] sm:max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
          src={desktopImage}
          alt="El setup de trabajo como developer de @baumannzone. Escritorio elevable + macbook pro + teclado mec치nico + rat칩n ergon칩mico + monitor + micr칩fono + c치mara web"
        />
      </div>
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <p>
              Trabajo en remoto desde 2015, mucho antes de que se pusiera de
              moda o fuera obligatorio por culpa de un murci칠lago. Desde
              entonces, he ido afinando mi espacio poco a poco. Con cari침o y
              muchos cables.
            </p>
            <p class="mt-4">
              Aqu칤 tienes el listado completo de mis herramientas de trabajo
              como Software Engineer: desde gadgets que realmente uso hasta
              caprichos tecnol칩gicos.
            </p>
            <div class="mx-auto mt-12 prose prose-lg prose-violet">
              {
                myUses.map((section) => (
                  <div>
                    {section.type === "h2" ? (
                      <h2>
                        {section.title}
                      </h2>
                    ) : (
                      <h3>
                        {section.title}
                      </h3>
                    )}
                    {section.children && (
                      <ul>
                        {section.children.map((item) => (
                          <li>
                            <p>
                              {item.link ? (
                                <a
                                  href={item.link}
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="text-violet-600 hover:text-violet-800"
                                >
                                  {item.title}
                                </a>
                              ) : (
                                <span class="font-medium">{item.title}</span>
                              )}
                              {item.description && (
                                <br />
                                <>
                                  {item.description}
                                </>
                              )}
                            </p>
                            {item.specs && (
                              <ul>
                                {item.specs.map((spec) => (
                                  <li>{spec}</li>
                                ))}
                              </ul>
                            )}
                          </li>
                        ))}
                      </ul>
                    )}
                  </div>
                ))
              }
            </div>

            <hr class="my-12" /> 

            <p class="text-lg text-balance">
              쯈uieres ver c칩mo ha evolucionado mi setup a lo largo del tiempo? 游녤
              <a
                href="https://github.com/baumannzone/baumannzone.dev/blob/c94f6a1450065f5ab37c72c9720e347e9f20af2b/src/components/UsesPage/uses.md?plain=1"
                target="_blank"
                rel="noopener noreferrer"
                class="text-violet-600 hover:text-violet-800"
              >
                Mira el historial de cambios
              </a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bmn-container mx-auto mb-40">
    <div class="bg-gray-100 px-6 py-2.5 rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5">
      <p class="text-sm leading-6">
        <strong class="font-semibold"> Info </strong>
        <span class="mx-1">췅</span>
        Todo lo que ves aqu칤 son cosas que tengo o he tenido. Algunos de los enlaces
        en esta p치gina me enviar치n unos c칠ntimos si haces clic y compras algo. Si
        no te parece bien eso, tienes el modelo exacto para que puedas buscarlo por
        tu cuenta. Porque, seamos sinceros, a todos nos gusta buscar en Google, 쯨erdad?
      </p>
    </div>
  </div>
</DefaultLayout>
