---
// https://www.strava.com/api/v3/athletes/158501259/stats
const STRAVA_ATHLETE_ID = 158501259;
const STRAVA_ACCESS_TOKEN = import.meta.env.STRAVA_ACCESS_TOKEN;

const response = await fetch(
  `https://www.strava.com/api/v3/athletes/${STRAVA_ATHLETE_ID}/stats`,
  {
    headers: {
      Authorization: `Bearer ${STRAVA_ACCESS_TOKEN}`,
    },
  },
);

// "ytd_ride_totals": {
//     "count": 5,                        total activities
//     "distance": 212972,                in meters
//     "moving_time": 44736.0,            in seconds
//     "elapsed_time": 47510.0,           in seconds
//     "elevation_gain": 1482.746444      in meters
//   },

const stats = await response.json();

const movingTime = stats?.ytd_ride_totals?.moving_time; // in seconds
const movingTimeInHours = Math.round(movingTime / 3600);

const distance = stats?.ytd_ride_totals?.distance; // in meters
const distanceInKm = Math.round(distance / 1000);

const currentYear = new Date().getFullYear();

// Randomly choose between hours and kilometers
const randomChoice = Math.random() < 0.5;
const value = randomChoice ? movingTimeInHours : distanceInKm;
const label = randomChoice
  ? `Horas de bici en ${currentYear}`
  : `Kilómetros en bici en ${currentYear}`;
---

{
  movingTimeInHours > 0 || distanceInKm > 0 ? (
    <div class="flex flex-col-reverse gap-y-4">
      <dt class="text-base leading-7 text-gray-600">{label}</dt>
      <dd class="text-5xl font-semibold tracking-tight text-gray-900">
        +{" "}
        <span data-value={value} id="strava-biking-stats">
          {value}
        </span>
      </dd>
    </div>
  ) : null
}
