---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import SharePostBar from '../components/SharePostBar.astro';
import NavBar from '../components/NavBar.astro';
import { stringToKebabCase } from '../utils/main';

type Props = CollectionEntry<'blog'>['data'] & {
  id: string;
  slug: string;
  collection: string;
};

const {
  title,
  description,
  pubDate,
  updatedDate,
  tags,
  canonical,
  id,
  slug,
  collection,
} = Astro.props;
---

<html lang='es'>
  <head>
    <BaseHead title={title} description={description} canonical={canonical} />
  </head>

  <body class='dark:bg-gray-700'>
    <NavBar />
    <main class='px-4 py-8' itemscope itemtype='https://schema.org/Article'>
      <header class='max-w-prose mx-auto'>
        <div class='text-gray-500 text-xs dark:text-gray-400'>
          <FormattedDate date={pubDate} type='pubDate' />
          {
            updatedDate && (
              <div>
                Actualizado el{' '}
                <FormattedDate date={updatedDate} type='updatedDate' />
              </div>
            )
          }
        </div>
        <h1
          itemprop='headline'
          class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white'
        >
          {title}
        </h1>
        {
          tags && (
            <ul class='flex gap-x-4 text-xs mt-4 mb-8'>
              {tags.map((tag) => (
                <li>
                  {/* <a href={`/tags/${stringToKebabCase(tag)}`}> */}
                  <span class='relative rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 dark:text-gray-300 dark:bg-gray-600 hover:bg-gray-100 dark:hover:bg-gray-500'>
                    {tag}
                  </span>
                  {/* </a> */}
                </li>
              ))}
            </ul>
          )
        }
      </header>
      <article
        class='prose dark:prose-invert prose-lg mx-auto mb-24'
        itemprop='articleBody'
      >
        <slot />
      </article>

      <SharePostBar id={id} slug={slug} collection={collection} title={title} />

      <script
        type='application/javascript'
        src='https://utteranc.es/client.js'
        repo='baumannzone/baumannzonedev-comments'
        issue-term='pathname'
        label='comment'
        theme='preferred-color-scheme'
        crossorigin='anonymous'
        async></script>
    </main>

    <Footer />
  </body>
</html>
