---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang='es'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
    <div id='screen-saver'></div>

    <script>
      const millisecondsToWait = 20000;
      const bannerText = 'Baumannzone.dev';

      const id = 'screen-saver';
      const el = document.getElementById(id) as HTMLElement;
      el.id = id;
      el.style.position = 'fixed';
      el.innerHTML = `
      <div>
        <div style="font-size: 1.25rem; font-weight: 600;">
          ${bannerText}
        </div>
      </div>`;

      const width = el.offsetWidth + 10;
      const height = el.offsetHeight - 7;

      const style = document.body.appendChild(document.createElement('style'));
      style.textContent = `
        #screen-saver {
          left: 0; 
          top: 0; 
          right: 0; 
          bottom: 0;
          color: #fff;
          z-index: 100000;
        }
          
        #screen-saver div {
          width: ${width}px;
          height: ${height}px;
        }
        #screen-saver > div {
          animation: x${id} 5s linear infinite alternate;
        }
        #screen-saver > div > div {
          animation: y${id} 9s linear infinite alternate;
        }
        @keyframes x${id} {
          100% {
            transform: translateX(calc(100vw - ${width}px));
          }
        }
        @keyframes y${id} {
          100% {
            transform: translateY(calc(100vh - ${height}px));
          }
        }
`;

      let timeoutId = null as any;

      function disable() {
        el.style.display = 'none';
        if (timeoutId) clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          el.style.display = 'block';
        }, millisecondsToWait);
      }

      function handleEvent() {
        disable();
      }

      disable();
      document.addEventListener('mousemove', handleEvent);
      document.addEventListener('keydown', handleEvent);
      document.addEventListener('scroll', handleEvent);
    </script>
  </body>
</html>
